# POSTGRES
POSTGRES_USER=rtb
POSTGRES_PASSWORD=XHb6&oUUQy973
POSTGRES_DB=rootthebox
PGADMIN_DEFAULT_EMAIL=info@acme.org
PGADMIN_DEFAULT_PASSWORD=U4AOm9588^MP
PGADMIN_LISTEN_PORT=80

# MYSQL
MYSQL_DATABASE=rootthebox
MYSQL_ROOT_PASSWORD=XHb6&oUUQy973
MYSQL_USER=rtb
MYSQL_PASSWORD=XHb6&oUUQy973