{% extends "../../main.html" %}

{% block title %}{{_("Create Flag")}}{% end %}

{% block content %}
{% set thebox = "?box=" + box.uuid if box else "" %}
<div class="container">
    <h1>
        <i class="fa fa-flag"></i>
        {{_("Create Flag")}}
    </h1>
    <br />
    <a class="btn" href="/admin/create/flag/static{{thebox}}" style="width: 280px; margin: 5px;">
        <i class="fa fa-flag-o"></i>
        {{_("Create Static Flag")}} &raquo;
    </a>
    <a class="btn" href="/admin/create/flag/datetime{{thebox}}" style="width: 280px; margin: 5px;">
        <i class="fa fa-flag-o"></i>
        {{_("Create Datetime Flag")}} &raquo;
    </a>
    <br />
    <a class="btn" href="/admin/create/flag/regex{{thebox}}" style="width: 280px; margin: 5px;">
        <i class="fa fa-flag-o"></i>
        {{_("Create Regex Flag")}} &raquo;
    </a>
    <a class="btn" href="/admin/create/flag/file{{thebox}}" style="width: 280px; margin: 5px;">
        <i class="fa fa-flag-o"></i>
        {{_("Create File Flag")}} &raquo;
    </a>
    <br />
    <a class="btn" href="/admin/create/flag/choice{{thebox}}" style="width: 280px; margin: 5px;">
        <i class="fa fa-flag-o"></i>
        {{_("Create Multiple Choice Flag")}} &raquo;
    </a>
    <a class="btn" href="/admin/create/flag/graded{{thebox}}" style="width: 280px; margin: 5px;">
        <i class="fa fa-flag-o"></i>
        {{_("Create Graded Choice Flag")}} &raquo;
    </a>
    <br />
</div>
{% end %}